
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #A1E3D8;
    margin: 0;
}

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

}

.header-video video {
    min-height: 165%;
    min-width: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #729bad87;
    z-index: 0;
    opacity: .85;
}

.header-content {
    z-index: 1;
}

.bg-dark {
    position: fixed;
    background: #b4c3c900;
    z-index: 1;
    opacity: .7;
}

#tarjetas {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#tarjetas-quintana {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.container-fluid {
    padding: 10% 5%;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}


@media (max-width:480px) {
    .container {
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}

.chiapas {
    padding: 0 5% 5% 5%;
    margin-top: 0;
    text-align: justify;
    font-size: 1.1rem;
    position: relative;
    display: inline-block;
}

.chiapas h3 {
    color:#005555
}

.chiapas p {
    color: #E8F9FD;
}

.oaxaca {
    padding: 0 5% 5% 5%;
    margin-top: 0;
    text-align: justify;
    font-size: 1.1rem;
    position: relative;
    display: inline-block;
}

.oaxaca h3 {
    color:#005555
}

.oaxaca p {
    color: #E8F9FD;
}

.quintana-roo {
    padding: 0 5% 5% 5%;
    margin-top: 0;
    text-align: justify;
    font-size: 1.1rem;
    position: relative;
    display: inline-block;
}

.quintana-roo h3 {
    color:#005555
}

.quintana-roo p {
    color: #E8F9FD;
}

.nombre-estado {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
}

.yucatan {
    padding: 0 5% 5% 5%;
    margin-top: 0;
    text-align: justify;
    font-size: 1.1rem;
    position: relative;
    display: inline-block;
}

.yucatan h3 {
    color:#005555
}

.yucatan p {
    color: #E8F9FD;
}

.navbar {
    padding-top: 1.5rem;
    padding-right: 15%;
}

.navbar-brand {
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    padding-left: 20%;
    color: #005555 !important;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    color: #417D7A !important;
}

.adornos {
    max-width: 100%;
    height: auto;
    transform: rotate(20deg);
    margin-left: auto;
    margin-right: auto;
}

.adornos-giro {
    max-width: 100%;
    height: auto;
    transform: rotate(-20deg);
    margin-left: auto;
    margin-right: auto;
}


